@import "compass";
@import "../modules/all";

// Company Colors
// $brand-primary: #2980b9;

// Layout
$navbar-height: 60px;

// Base Margin & Padding
$space-xs: 10px;
$space-sm: 25px;
$space-md: 50px;
$space-lg: 75px;
$space-xl: 100px;

$space-xs-vert: $space-xs 0;
$space-sm-vert: $space-sm 0;
$space-md-vert: $space-md 0;
$space-lg-vert: $space-lg 0;
$space-xl-vert: $space-xl 0;

$space-xs-horiz: 0 $space-xs;
$space-sm-horiz: 0 $space-sm;
$space-md-horiz: 0 $space-md;
$space-lg-horiz: 0 $space-lg;
$space-xl-horiz: 0 $space-xl;
// Background Colors
// $body-bg: $brand-primary;

// Font weights
// $light: 100;
// $regular: 400;
// $bold: 600;

// Base Font
// $base-font-family: sans-serif;
// $base-font-weight: $regular;
// $base-font-size: 13px;
// $base-line-height: 1.4;

// Fixed Font
// $fixed-font-family: monospace;
// $fixed-font-size: 85%;
// $fixed-line-height: $base-line-height;

// Headings
// $header-font-weight: $bold;

// Apply Border Radius to bootstrap variables
$default-border-radius: 3px;
$border-radius-base: $default-border-radius;
// $body-bg: red;