// Body /////////////////////////////////////////////////////////////////

// Header /////////////////////////////////////////////////////////////////

// body > header {
//     margin-bottom: -20px;
//     background-color: $header-bg-color;
//     // background-color: $brand-primary;
// }

@mixin dynamic-background($bg-color) {
  @if lightness($bg-color) < 50% {
    // if the text colour is a dark colour
    // we need a white shadow, bottom, right
    color: #ffffff!important;
  } @else {
    // else it must be light so we need
    // a black shadow, top, left
    color: purple!important;}
  }
  // set the text colour
  background-color: $bg-color;
}

body > header { 
    @include dynamic-background(#000000); 
    margin-bottom: -20px;
}

// Top Header Section /////////////////////////////////////////////////////////////////

.top-header {
    padding-top: $space-sm;
    padding-bottom: $space-sm;
}

// Navbar Section /////////////////////////////////////////////////////////////////

// Masthead Section /////////////////////////////////////////////////////////////////

.masthead {
    padding: $space-lg-vert;
}

// Body Content Section /////////////////////////////////////////////////////////////////

.body-content {

    .masthead, .primary-content, .block-section {
        border-bottom: 1px solid darken($body-bg, 10%);             
    }    
}

// Primary Content Section /////////////////////////////////////////////////////////////////

.primary-content {
    padding: $space-lg-vert;
}

// Page Content Section /////////////////////////////////////////////////////////////////

// Sidebar Section /////////////////////////////////////////////////////////////////

// Footer /////////////////////////////////////////////////////////////////

.footer {
    background-color: $footer-bg-color;
}

// More-Foot Section /////////////////////////////////////////////////////////////////

.more-foot {
    padding: $space-lg-vert;
}

// Small Footer Section /////////////////////////////////////////////////////////////////

.small-footer {
    border-top: 1px solid darken($footer-bg-color, 10%);

    p {
        margin: $space-sm-vert;
    }
}