// Body /////////////////////////////////////////////////////////////////

// Header /////////////////////////////////////////////////////////////////

body > header {
    margin-bottom: -20px;
}

// Top Header Section /////////////////////////////////////////////////////////////////

.top-header {
    padding-top: $space-sm;
    padding-bottom: $space-sm;
}

// Navbar Section /////////////////////////////////////////////////////////////////

// Masthead Section /////////////////////////////////////////////////////////////////

// Body Content Section /////////////////////////////////////////////////////////////////

// Primary Content Section /////////////////////////////////////////////////////////////////

.primary-content {
    padding: $space-md-vert;
}

// Page Content Section /////////////////////////////////////////////////////////////////

// Sidebar Section /////////////////////////////////////////////////////////////////

// Footer /////////////////////////////////////////////////////////////////

.footer {
    background-color: $gray-lighter;
}

// More-Foot Section /////////////////////////////////////////////////////////////////

.more-foot {
    padding: $space-lg-vert;
}

// Small Footer Section /////////////////////////////////////////////////////////////////

.small-footer {
    background-color: $gray-light;

    p {
        margin: $space-sm-vert;
    }
}